@import '~antd/dist/antd.css';

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-self: center;
  background-color: #F9FEFF;
  margin: auto;
}
.main-area{
  background-color: #F9FEFF;
}
.layout-header{
  background-color: white;
  width:100%;
  height:80px;
  display: flex;
  flex-direction: row;
  padding:0;
  position: absolute;
  top: 0;
  z-index: 3;
}
.layout-content{
  width:100%;
  height: fit-content;
  background-color: #F9FEFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
  
}
.layout-footer{
  background-color: #F7F7F7;
  width:100%;
  height:80px;
  display: flex;
  flex-direction: row;
  align-content: center;
  padding: 0 30px 0 30px;
}
@media(max-width: 540px) { 
  .layout-header{
    height:47px;
  }
  .layout-footer{
    height:28px;
    padding: 0 18px 0 18px;
  }
  .layout-content{
    margin-top: 47px;
    
  }
} 


.header{
  display: flex;
  flex-direction: row;
  box-shadow: 0 2px 10px rgb(201, 201, 201);
  width:100%;
  height:100%;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px 0 15px;
}
.header-btn{
  border-color: white;
}
.header-btn-home{
  display: flex;
  flex-direction: row;
  border-color: white;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  box-shadow: 0 0 0 0;
  margin: 0 10px 0 0;
}
.header-logo{
  width:32.49px;
  height:36px;
  margin: 8px 5px 15px 0 
}
.header-logo-text{
  font-family: "chingsung";
  font-weight: bolder;
}
.header-btn-burger{
  display: flex;
  flex-direction: row;
  border-color: white;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  box-shadow: 0 0 0 0;
  margin: 0 10px 0 0;
}
.header-btn-create{
  display: flex;
  flex-direction: row;
  border-color: white;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  box-shadow: 0 0 0 0;
  margin: 0 10px 0 0;
}
.header-btn-start{
  display: flex;
  flex-direction: row;
  border-color: white;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  box-shadow: 0 0 0 0;
  margin: 0 10px 0 0;
}
.header-btn:hover{
  border-color: white;
  color: #60a8be;
}
.header-btn:focus{
  border-color: white;
  color: #4A8091;
}
.header-btn-left{
  display: flex;
  flex-direction: row;
}
.header-btn-right{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.header-btn-icon{
  width:23px;
}
.header-btn-icon-cart{
  width:35px;
  display: flex;
  flex-direction: row;
  border-color: white;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  box-shadow: 0 0 0 0;
  margin: 0 10px 0px 0;
}
.header-btn-cart{
  margin-bottom: 15px;
}
.header-btn-login{
  background-color: #4A8091;
  border-radius: 20px;
  width:115px;
  height:54px;
  display: flex;
  flex-direction: row;
  border-color: white;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  box-shadow: 0 0 0 0;
  margin: 0 10px 0 0;
}
.header-btn-login:hover{
  border-color: #60a8be;
}
.header-btn-name{
  margin: 0 0 0 5px;
}
.header-phone-burger-btn{
  display: none;
}
.header-profile{
  cursor: pointer;
}
.header-profile-icon{
  margin-left: 15px;
}

@media(max-width:540px){
  .header{
    padding: 0 0 0 8px;
  }
  .header-phone-burger-btn{
    display: flex;
  }
  .header-logo{
    width:24.57px;
    height:27.22px;
  }
  .header-logo-text{
    font-family: "chingsung";
    font-weight: bolder;
  }
  .header-btn-home{
    display: flex;
    font-size: 12px;
  }
  .header-btn-burger{
    display: none;
  }
  .header-btn-create{
    display: none;
  }
  .header-btn-start{
    display: none;
  }
  .header-btn-login{
    width: 55px;
    height: 30px;
    border-radius: 10px;
    margin: 0 0 0 -10px;
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .header-btn-name{
    margin: 0 0 0 0;
  }

  
  .header-btn-cart{
    height:auto;
    width:auto;
    margin:0 0 3px 0;
  }
  .header-btn-icon-cart{
    width:28px;
  }
  .header-profile{
    cursor: pointer;
  }
  .header-profile-icon{
    width: 23px;
    margin:0;
  }
}




.block{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 47px 0 47px;
  
}
.block-title{
  margin-top: 90px;
  font-size: 35px;
  color: #525A60;
}
.block-bar{
  width:130px;
  height:5px;
  background-color: #56BDA5;
  border-radius: 10px;
  margin: 0 0 30px 0;
}
@media(max-width:540px){
  .block{
    padding:0;
    margin:0;
  }
  .block-title{
    font-size: 12px;
    margin-top: 19px;
  }
  .block-bar{
    width:48px;
    height: 3px;
    margin: 2px 0 10.5px 0;
  }
}

.search{
  width:1920px;
  height:683px;
  padding:0;
  background-size:100% auto;
  background-repeat:no-repeat;
  display: flex;
  align-items: center;
}
.search-content{
  font-size: 55px;
  font-weight: bold;
  padding: 0 0 12vmin 15vmin;
}
.search-content-input{
  width:61vmin;
  height:7.2vmin;
  border-radius: 20px;
  border-width: 0;
  box-shadow: 0 5px 5px #C3E5E9;
}
.search-phone-size{
  display: none;
}
@media(max-width:540px){
  .search{
    display: none;
  }
  .search-phone-size{
    width: 375px; 
    height: 177px;
    padding:0;
    background-size:375px auto;
    background-repeat:no-repeat;
    display: flex;
    align-items: center;
  }
  .search-content{
    font-size: 12px;
    font-weight: bold;
    padding:0;
    margin: 0 0 25px 40px;
  }
  .search-content-input{
    width:150px;
    font-size: 8px;
    margin-top: 9px;
    margin-left: -10px;
    border-radius: 7px;
    box-shadow: 0 1px 2px #C3E5E9;
  }
}

.weekly{
  width:100%; 
  display: flex;
  justify-content: center;
}
.weekly-carousel{
  width:100vmin;
}
.contentStyle{
  display: flex;
  flex-direction: row;
}
.carousel-content-img{
  width: 100%;
  height:100%;
}
@media(max-width:540px){
  .weekly{
    
  }
  .weekly-carousel{
    width:285px;
    height:auto;
  }
  .carousel-content-img{
    border-radius: 20px;
  }
}


.productlist-block{
  padding: 0 60px 0 60px;
  margin: 0 0 150px 0;
}
.productlist-card{
  width:100%;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  box-shadow: 0 1px 5px rgb(218, 218, 218);
  align-items: center;
  color: #525A60;
  font-size: 2.7vmin;
}
.productlist-card-body{
  width: 489px;
}
.productlist-title{
  margin: 12px 0 20px 0;
}
.productlist-price{
  margin: 0 0 15px 0;
}
.productlist-lecturer{
  margin: 0 0 15px 0;
}
.productlist-student{
  display: flex;
  align-items: center;
  margin: 0 0 15px 0;
}
.productlist-person-icon{
   width:22px;
   margin-right: 8.3px;
}
.productlist-rating{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin:0 0 60px 0;
}
.productlist-rating-icon{
  width: 178px;
  height: 29px;
}
.productlist-rating-comments{
  margin:0;
}
.productlist-bar{
  width: 478px;
  height:1px;
  background-color: #707070;
  margin: 0 0 26.5px 0;
}
.productlist-btn{
  width:100%;
  display: flex;
  justify-content: center;
  margin: 0 0 3px 0;
}
@media(max-width:540px){
  .productlist-card{
    width: 263px;
    height: 405px;
    font-size: 11px;
  }
  .productlist-card>.ant-card-body{
    padding:0;
  }
  .productlist-block{
    padding: 0 -60px 0 0;
    margin: 20px 0 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .productlist-block>.ant-row{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .productlist-card-body{
    width:263px;
    height:194px;
    padding: 0 24px 12px 18px;
    margin-top: 0px;
  }
  .productlist-rating-icon{
    width: 84px;
    height: 12.97px;
  }
  .productlist-title{
    margin: 14px 0 9px 0;
  }
  .productlist-price{
    margin: 0 0 8px 0;
  }
  .productlist-lecturer{
    margin: 0 0 8px 0;
  }
  .productlist-student{
    display: flex;
    align-items: center;
    margin: 0 0 8.5px 0;
  }
  .productlist-rating{
    margin:0 0 26px 0;
  }
  .productlist-bar{
    width: 217.25px;
    margin: 0 0 12.5px 0;
  }
  .productlist-person-icon{
    width:11px;
    margin-right: 4px;
 }
}


.product{
  background-color: #F9FEFF;
  height:100%;
  padding: 65px 6vmin 0 6vmin;
  margin: 0 0 235px 0;
}
.product-intro{
  display: flex;  
  flex-direction: row;
  font-size: 40px;
  font-weight: bold;
  background-color: #F0FAFF;
  border-radius: 20px;
  justify-items: center;
  box-shadow: 0px 4px 10px #d1d1d1;
}
.product-cover{
  width: 697px;
  height: 514px;
  border-radius: 20px;
  margin: 84px 99px 0 87px;
}
.product-info-container{
  margin-bottom: 29px;
}
.product-name{
  margin: 105px 0 20px 0;

}
.product-price{
  margin:0 0 25px 0;

}
.product-bought{
  margin:0 0 25px 0;

}
.product-time{
  margin:0 0 0 0;

}
.product-addtocart-btn{
  font-size: 40px;
  margin-top: 78px;
  margin-bottom: 22px;
  width:520px;
  height:98px;
  border-radius: 20px;
  background-color: #4A8091;
}
.product-phone-block-one{
  display: none;
}
.product-phone-block-two{
  display: none;
}
.product-phone-block-three{
  display: none;
}
.product-phone{
  display: none;
}
.product-btns{
  width:100%; 
  height:80px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 109px;
}
.product-btn{
  font-size: 25px;
  width: 175.78px;
  height:62px;
  border-width: 0;
  border-bottom-width: 5px;
  padding-bottom: 10px;
  margin: 0 30.2px 0 30.2px;
}
.product-btn:hover{
  background-color: #F9FEFF;
  color: #60a8be;
}
.product-btn:focus{
  border-width: 0;
  border-bottom-width: 5px;
  border-color: #56BDA5;
  background-color: #F9FEFF;
  color: #4A8091;
}
.product-content{
  margin-top: 70.6px;
  background-color: #FAFDFF;
  box-shadow: 0px 1px 5px #cfcfcf;
  padding: 60px 150px 150px 150px;
}
.product-content-detail{
  font-size: 2.7vmin;
  line-height: 85px;
  margin: 0 0 0 20px;
}
.product-content-image{
  width:1083px;
  height: auto;
  margin: 125px 0 0 180px;
}
@media(max-width:540px){
  .product{
    
    background-color: white;
    padding: 0 0 0 0;
    display: flex;
    flex-direction: column;
    align-content: center;
  }
  .product-intro{
    -webkit-transform:scale(0.58);
    width:646px;
    display: flex;  
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: center;
    font-weight: bold;
    background-color: #F0FAFF;
    border-radius: 0;
    font-size: 12px;
    box-shadow: 0px 4px 10px #d1d1d1;
    margin: -50px 0 0 0 ;
  }
  .product-cover{
    width:229px;
    height:169px;
    border-radius: 13px;
    margin: 0 32.7px 0 0;
  }
  .product-info-container{
    margin-bottom: 30px;
    
  }
  .product-name{
    margin:30px 0 25px 0;
    padding-top: 20px;
    width:240px;
  }
  .product-price{
    margin:0 0 14px 0;
  
  }
  .product-bought{
    margin:0 0 14px 0;
  
  }
  .product-time{
    margin:0 0 10px 0;
  
  }
  .product-addtocart-btn{
    display: flex;
    width: 250px;
    height: 50px;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 0;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: #4A8091;
  }
  .product-phone-block-one{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -30px;
  }
  .product-phone-block{
    font-size: 12px;
  }
  .product-phone-bar{
    width:47.67px;
    height:2px;
    background-color: #56BDA5;
    margin:4.5px 0 0 0;
  }
  .product-btns{
    display: none;
  }
  .product-content{
    -webkit-transform:scale(0.58);
    width:502px;
    height:fit-content;
    margin-top: -120px;
    background-color: #FAFDFF;
    box-shadow: 0px 1px 5px #cfcfcf;
    padding: 22px 51px 22px 51px;
    display: flex;
    flex-direction: column;
    align-self: center;
  }
  .product-content-detail{
    font-size: 14px;
    line-height: 43px;
  }
  .product-content-image{
    display: none;
  }
  .product-phone-block-two{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -100px;
  }
  .block-two-content{
    margin: 15.5px 0 0 0;
  }
  .product-phone-block-three{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 27px 0 -215px 0;
  }
  .block-three-content{
    margin: 15.5px 0 0 0;
  }
}


.btn-tocar{
  color: #525A60;
  width:354px;
  height:62px;
  border-color: white;
  border-radius: 35px;
  box-shadow: 0 2px 5px rgb(184, 184, 184);
  font-size: 30px;
}
.btn-tocar-icon{
  width:30px;
  height:30px;
  margin-left: 12px;
  margin-bottom: 7px;
}
@media(max-width:540px){
  .btn-tocar{
    color: #525A60;
    width:161px;
    height:28px;
    border-color: white;
    border-radius: 35px;
    box-shadow: 0 2px 5px rgb(184, 184, 184);
    font-size: 13px;
  }
  .btn-tocar-icon{
    width:13.63px;
    height:13.63px;
    margin-left: 14px;
    margin-bottom: 5px;
  }
}

.cart{
  display: flex;
  flex-direction: column;
  align-items: center;
  width:100%;
  
  background-color: #F9FEFF;
}
.cart-content{
  display: flex;
  flex-direction: column;
  align-content: center;
  margin-top: 80px;
  overflow: hidden;
  width: 100%;
  height: 920px;
}
.cart-content-show{
  height: 1200px;
  margin: 50px 0 68px 0;
}
.checkout{
  display: flex;
  flex-direction: row;
  margin: 80px 0 36.5px 0;
}
.checkout-process{
  display: flex;
  flex-direction: row;
  width:207px;
  height:92;
  font-size: 25px;
  font-weight: bold;
  justify-content: space-between;
  align-items: center;
  margin-left: 153px;
}
.process-order-first{
  margin-left: 0;
}
.process-order{
  width: 92px;
  height: 92px;
  border-radius: 100px;
  text-align: center;
  padding: 27px 0 32px 0; 
}
.process-name{

}
.cart-bar{
  width: 1661px;
  height: 1px;
  display: flex;
  margin: 0 0 50px 0;
}
.cart-bar-show{
  width: 1661px;
  height: 1px;
  display: flex;
  margin: 18.5px 0 0 0;
}
.cart-item-list{
  overflow: auto;
  
}
.cart-item-show{
  display: flex;
  flex-direction: column;
  align-items: center;
  
  height: 1080px;
}
.cart-item{
  width: 1465px;
  height: 287px;
  background-color: #F0FAFF;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-self: center;
  border-radius: 20px;
  margin: 0 0 50px 0;
}
.cart-item-image{
  width:369px;
  height:227px;
  border-radius: 20px;
  margin-left: 30px;
}
.cart-item-detail{
  display: flex;
  flex-direction: column;
  font-size: 25px;
  font-weight: bold;
  width:496px;
  height:100%;
  margin-left: 60px;
  justify-content: center;
}
.cart-item-name{
  line-height: 29px;
}
.cart-item-price{
  line-height: 29px;
  margin-top: 38px;
}
.cart-item-qty{
  width:102px;
  height:31px;
  font-size: 20px;
  border-radius: 30px;
  display: flex;
  align-content: center;
  justify-content: center;
  margin-top: 20px;
}
.cart-btn{
  display: flex;
  flex-direction: column;
  margin-left: 228px;
}
.cart-remove-btn{
  border-radius: 20px;
  width:230px;
  height:55px;
  font-size: 22px;
}
.cart-buy-btn{
  margin-top: 28px;
  border-radius: 20px;
  width:230px;
  height:55px;
  font-size: 22px;
}
.cart-checkout-btn{
  width: 400px;
  height: 53px;
  color: white;
  font-size: 25px;
  font-weight: bold;
  border-radius: 10px;
  border-width: 0;
  background-color: #20B3FF;
  margin: 52px 0 84px 0;
}
@media(max-width:540px){
  .cart-content{
    height:447px;
    display: flex;
    flex-direction: column;
    align-content: center;
    margin-bottom: 257px;
  }
  .cart-item-list{
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: fit-content;
    width: 375px; 
  }
  .cart-content-show{
    width: 375px;
    height: 730px;
    margin: 50px 0 0 0;
  }
  .cart-bar-show{
    width:320px;
  }
  .checkout{
    -webkit-transform: scale(0.4);
    width:900px;
    height:20px;
    display: flex;
    font-size: 24px;
    margin:12px 0 12px 0;
    flex-direction: row;
    justify-content:center;
  }
  .cart-checkout-btn{
    width: 100px;
    height: 25px;
    font-size: 8px;
  }
  .checkout-process{
    width:130px;
    display: flex;
    flex-direction: row;
    font-weight: bold;
    align-items: center;
    margin:0 10px 0 10px;
  }
  .process-order{
    width:57px;
    height:54px;
    font-size: 18px;
    text-align: center;
    display: flex;
    align-content: center;
    justify-content: center;
    padding: 12px 0 0 0; 
  }
  .process-name{
    margin: 0 0 0 6px;
    width:65px;
    height:15px;
    font-size: 16px;
    text-align: center;
  }
  .cart-bar{
    width:320px;
    margin: 14.5px 0 20px 0;
  }
  .cart-item{
    -webkit-transform: scale(0.4);
    width: 855px;
    height:165px;
    background-color: #F0FAFF;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    margin:-40px 0 -40px 0;
  }
  .cart-item-show{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 375px;
    height: 812px;
  }
  .cart-item-image{
    width:207px;
    height:132px;
    border-radius: 15px;
    margin-left: 15px;
  }
  .cart-item-detail{
    display: flex;
    flex-direction: column;
    font-size: 18px;
    font-weight: bold;
    width:237px;
    height:75px;
    margin-left: 45px;
    justify-content: center;
  }
  .cart-item-name{
    line-height: 15px;
    font-size: 20px;
  }
  .cart-item-price{
    line-height: 15px;
    font-size: 20px;
    margin-top: 30px;
  }
  .cart-item-qty{
    display: none;
  }
  .cart-btn{
    display: flex;
    flex-direction: column;
    margin-left: 100px;
  }
  .cart-remove-btn{
    border-radius: 6px;
    width:138px;
    height:30px;
    font-size: 12px;
  }
  .cart-buy-btn{
    margin-top: 18px;
    border-radius: 6px;
    width:138px;
    height:30px;
    font-size: 12px;
  }
}


.login-form{
  width: 535px;
  height: 733px;
  padding: 80px 65px 80px 65px;
  margin-top: 93.5px;
  margin-bottom: 93.5px;
  background-color: #F2FAFF;
  border-radius: 15px;
  box-shadow: 0px 3px 15px #e4e4e4;
}
.login-form_welcome{
  margin-bottom: 65px;
}
.login-form_welcome_word{
  font-size:25px;
  font-weight: bolder;
}
.login-form_account{
  width: 398px;
  height: 60px;
  font-size: 20px;
  border-radius: 10px;
  border-color: white;
  box-shadow: 0px 3px 3px #cecdcd;
}
.login-form_account>.ant-input{
  color: #8B9195;
  font-size: 20px;
  font-weight: bold;
}
.login-form_password{
  width: 398px;
  height: 60px;
  border-radius: 10px;
  border-color: white;
  box-shadow: 0px 3px 3px #cecdcd;
}
.login-form_password>.ant-input{
  color: #8B9195;
  font-size: 20px;
  font-weight: bold;
}
.login-form__remember{
  font-size:15px;
  font-weight: bold;
}
.login-form__forgot{
  font-size:15px;
  font-weight: bold;
}
.login-form__login_register{
  text-align: center;
}
.login-form__login_button{
  width:291px;
  height:53px;
  font-size: 25px;
  font-weight: bold;
  border-radius: 10px;
  border-color: #63CAD3;
  background-color: #63CAD3;
  margin-bottom: 15px;
}
.login-form__login_button:hover{
  background-color: #4A8091;
}
.login-form__register_button{
  
}




.__register_button{
  font-weight: bold;
  
}
.login_social{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.login_social_word{
  color: #707070;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.login_social_word_or{
  margin: 0 34px 0 34px;
}
.login_social_or_bar{
  width: 151px;
  height: 1px;
  background-color: #707070;
}
.login_social_image{ 
  margin: 15px 0 0 2px;
}
.login_social_image_fb{
  margin: 0 58px 0 75px;
}
@media(max-width:540px){
  .login-form{
    width: 258px;
    height: 548px;
    padding: 36px 23px 36px 23px;
    margin-top: 93.5px;
    margin-bottom: 93.5px;
    background-color: #F2FAFF;
    border-radius: 15px;
    box-shadow: 0px 3px 15px #e4e4e4;
  }
  .login-form_welcome{
    margin-bottom: 47px;
  }
  .login-form_welcome_word{
    font-size:18px;
    font-weight: bolder;
  }
  .login-form_account{
    width: 212px;
    height: 44px;
    font-size: 14px;
    border-radius: 10px;
    border-color: white;
    box-shadow: 0px 3px 3px #cecdcd;
  }
  .login-form_account>.ant-input{
    color: #8B9195;
    font-size: 14px;
    font-weight: bold;
  }
  .login-form_password{
    width: 212px;
    height: 44px;
    font-size: 14px;
    border-radius: 10px;
    border-color: white;
    box-shadow: 0px 3px 3px #cecdcd;
  }
  .login-form_password>.ant-input{
    color: #8B9195;
    font-size: 14px;
    font-weight: bold;
  }
  .login-form__remember{
    font-size:14px;
    font-weight: bold;
  }
  .login-form__forgot{
    font-size:14px;
    font-weight: bold;
    margin: 0 0 0 26px;
  }
 
  .login-form__login_register{
    text-align: center;
  }
  .login-form__login_button{
    width:168px;
    height:38px;
    font-size: 15px;
    font-weight: bold;
    border-radius: 10px;
    border-color: #63CAD3;
    background-color: #63CAD3;
    margin-bottom: 15px;
  }
  .login-form__login_button:hover{
    background-color: #4A8091;
  }
  .login-form__register_button{
    
  }
  .login_social{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .login_social_word{
    color: #707070;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 15px 0 0 0;
  }
  .login_social_word_or{
    font-size: 12px;
    margin: 0 17px 0 17px;
  }
  .login_social_or_bar{
    width: 65px;
    height: 0.6px;
    background-color: #707070;
  }
  .login_social_image{

  }
  .login_social_image-size-apple{
    width: 43px;
    height: 43px;
  }
  .login_social_image-size{ 
    width: 30px;
    height: 30px;
  }
  .login_social_image_fb{
    margin: 0 30px 0 39px;
  }
}



.register-form{
  width: 535px;
  height: 733px;
  padding: 55px 70px 80px 70px;
  margin-top: 93.5px;
  margin-bottom: 93.5px;
  background-color: #F2FAFF;
  border-radius: 15px;
  box-shadow: 0px 3px 15px #e4e4e4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.register-form_name{
  width: 398px;
  height: 60px;
  padding: 0 0 0 27px;
  border-radius: 10px;
  border-color: white;
  box-shadow: 0px 3px 3px #cecdcd;
}
.register-form_name>.ant-input{
  color: #8B9195;
  font-size: 20px;
  font-weight: bold;
  margin: 0 0 0 26px;
}
.register-form_email{
  width: 398px;
  height: 60px;
  padding: 0 0 0 25px;
  border-radius: 10px;
  border-color: white;
  box-shadow: 0px 3px 3px #cecdcd;
}
.register-form_email>.ant-input{
  color: #8B9195;
  font-size: 20px;
  font-weight: bold;
  margin: 0 0 0 24px;
}
.register-form_password{
  width: 398px;
  height: 60px;
  padding: 0 0 0 26px;
  border-radius: 10px;
  border-color: white;
  box-shadow: 0px 3px 3px #cecdcd;
}
.register-form_password>.ant-input{
  color: #8B9195;
  font-size: 20px;
  font-weight: bold;
  margin: 0 0 0 25px;
}
.register-form_repassword{
  width: 398px;
  height: 60px;
  padding: 0 0 0 26px;
  border-radius: 10px;
  border-color: white;
  box-shadow: 0px 3px 3px #cecdcd;
}
.register-form_repassword>.ant-input{
  color: #8B9195;
  font-size: 20px;
  font-weight: bold;
  margin: 0 0 0 25px;
}
.register-form_checkbox{
  width: 342px;
  margin-bottom: 52px;
}
.register-form_checkbox_word{
  
}
.register-form_haveaccount{
  color:#8B9195;
  font-size: 16px;
  margin-top: 10px;
}
.register-form_login{
  font-size: 15px;
}

@media(max-width:540px){
  .register-form{
    width: 258px;
    height: 465px;
    padding: 39px 23px 0px 23px;
    margin-top: 93.5px;
    margin-bottom: 178.5px;
    background-color: #F2FAFF;
    border-radius: 15px;
    box-shadow: 0px 3px 15px #e4e4e4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .register-form_name{
    width: 212px;
    height: 44px;
    padding: 0 0 0 15px;
    border-radius: 10px;
    border-color: white;
    box-shadow: 0px 3px 3px #cecdcd;
  }
  .register-form_name>.ant-input{
    color: #8B9195;
    font-size: 14px;
    font-weight: bold;
    margin: 0 0 0 18px;
  }
  .register-form_email{
    width: 212px;
    height: 44px;
    padding: 0 0 0 15px;
    border-radius: 10px;
    border-color: white;
    box-shadow: 0px 3px 3px #cecdcd;
  }
  .register-form_email>.ant-input{
    color: #8B9195;
    font-size: 14px;
    font-weight: bold;
    margin: 0 0 0 18px;
  }
  .register-form_password{
    width: 212px;
    height: 44px;
    padding: 0 0 0 15px;
    border-radius: 10px;
    border-color: white;
    box-shadow: 0px 3px 3px #cecdcd;
  }
  .register-form_password>.ant-input{
    color: #8B9195;
    font-size: 14px;
    font-weight: bold;
    margin: 0 0 0 18px;
  }
  .register-form_repassword{
    width: 212px;
    height: 44px;
    padding: 0 0 0 15px;
    border-radius: 10px;
    border-color: white;
    box-shadow: 0px 3px 3px #cecdcd;
  }
  .register-form_repassword>.ant-input{
    color: #8B9195;
    font-size: 14px;
    font-weight: bold;
    margin: 0 0 0 18px;
  }
  .register-form_checkbox{
    width: 120px;
    margin: -30px 0 -50px -60px;
  }
  .register-form_checkbox_word{
    font-size: 10px;
  }
  .register-form_haveaccount{
    color:#8B9195;
    font-size: 16px;
    margin-top: 10px;
    display: none;
  }
  .register-form_login{
    font-size: 12px;
    margin: -30px 0 0 0;
  }
}
.profile-layout{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 160px 0 105px 0;
}
.profile-form{
  width: 535px;
  height: 733px;
  padding: 36px 38px 80px 38px;
  background-color: #F2FAFF;
  border-radius: 15px;
  box-shadow: 0px 3px 5px #cecdcd;
}
.profile-user{
  display: flex;
  flex-direction: row;
  align-items: center ;
  margin: 0 0 70px 27px;
}
.profile-user-icon{
  width:91px;
  height:91px;
}
.profile-user-upload-icon{
  margin: 45px 0 0 -35px;
}
.profile-user-welcome{
  font-size: 25px;
  margin: 0 0 0 50px;
}
.profile-form-inputs{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: 0 27px 0 0;
}
.profile-form-label{
  display: flex;
  align-items: center;
}
.profile-form-label>.ant-form-item-label>label{
  color: #4A8091;
  font-size: 25px;
  font-weight: bold;
}
.profile-form-input{
  width: 295px;
  height: 60px;
  border-radius: 10px;
  font-size: 15px;
  padding: 0 20px 0 20px;
  margin: 0 0 0 20px;
}
.profile-order{
  width: 535px;
  height: 733px;
  padding: 55px 0 0 0;
  background-color: #F2FAFF;
  border-radius: 15px;
  box-shadow: 0px 3px 5px #cecdcd;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 80px 0 80px;
}
.profile-order-title{
  color: #4A8091;
  font-size: 30px;
  font-weight: bold;
  margin: 0 0 30px 0;
}
.profile-order-list{
  height: 545px;
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
.profile-order-list-item{
  width:460px;
  height:60px;
  color: #4A8091;
  font-size: 25px;
  font-weight: bold;
  border-radius: 10px;
  border-width: 0;
  background-color: #F7F7F7;
  box-shadow: 0px 3px 5px #cecdcd;
  margin: 0 0 30px 0;
}
.profile-order-block{
  
}
.profile-order-id{
  margin:0;
  color: #4A8091;
}
.profile-recommend{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly !important ;
}
.profile-recommend-title{
  color: #4A8091;
  font-size: 30px;
  font-weight: bold;
  display: flex;
  align-items: center;
  margin: 20px 0 -6px 42px;
}
.profile-recommend-title-icon{
  margin: 0 15px 0 0; 
}
.profile-recommend-item{
  width: 535px;
  height: 190px;
  background-color: #F3FAFF;
  box-shadow: 0px 3px 5px #cecdcd;
  border-radius: 10px;
  border-width: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 34px 0 0 0;
}
.profile-recommend-item-cover{
  width: 210px;
  height: 136px;
}
.profile-recommend-item-text{
  color: #4A8091;
  font-size: 20px;
  font-weight: bold;
  margin: 0 0 0 20px;
}
.profile-recommend-item-price{
  margin: 33px 0 0 0;
}
.modify-btns{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.modify-form-button{
  width: 257px;
  height: 53px;
  color: white;
  font-size: 20px;
  font-weight: bold;
  border-radius: 10px;
}
.modify-confirm-btn{
  margin: 30px 0 0 0;
}
.modify-logout-btn{
  margin: 17px 0 0 0;
}
.profile-user-phone-size{
  display: none;
}
@media(max-width:540px){
  .profile-layout{
    width: 375px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin: 85px 0 75px 0;
  }
  .profile-form{
    width: 258px;
    height: 450px;
    padding: 20px 0 28px 0;
    background-color: #F2FAFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    box-shadow: 0px 3px 5px #cecdcd;
    margin: 20px 0 0 0;
  }
  .profile-user{
    display: none;
    
  }
  .profile-user-welcome-phone-size{
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0 0 28px;
  }
  .profile-user-icon-phone-size{
    width: 70px;
    height: 70px;
  }
  .profile-user-upload-icon-phone-size{
    margin: 45px 0 0 -28px;
    width: 25px;
    height: 25px;
  }
  .profile-user-phone-size{
    width: 245px;
    height: 70px;
    display: flex;
  }
  .profile-form-inputs{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 0 0 35px;
  }
  .profile-form-inputs>.ant-form-item{
    margin: 0;
  }
  .profile-form-label{
    display: flex;
    flex-direction: row;
  }
  .profile-form-label>.ant-form-item-label>label{
    color: #4A8091;
    font-size: 10px;
    font-weight: bold;
  }
  .profile-form-input{
    width: 148px;
    height: 29px;
    border-radius: 10px;
    font-size: 10px;
    padding: 0 10px 0 10px;
    margin: 0 0 0 15px;
  }
  .modify-btns{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .modify-form-button{
    width: 148px;
    height: 30px;
    color: white;
    font-size: 15px;
    font-weight: bold;
    border-radius: 10px;
  }
  .modify-confirm-btn{
    margin: 30px 0 0 0;
  }
  .modify-logout-btn{
    margin: 11px 0 0 0;
  }
  /* 訂單卡還沒 */
  .order-card{
    
  }
  .profile-order{
    display: none;
  }
  .profile-order-list{
    
  }
  .profile-order-list-item{
    width: 230px;
    height: 29px;
    font-size: 10px;
    padding:0;
    margin: 0 0 20px 0;
  }
  .profile-order-block{

  }
  .order-search{
    width: 258px;
    height: 59px;
    background-color: #F2FAFF;
    border-radius: 15px;
    border-width: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 3px 5px #cecdcd;
    margin-top: 23px;
  }
  .order-search-btn{
    width: 193px;
    display: flex !important;
    color: white;
    font-size: 15px;
    background-color: #63CAD3;
    border-radius: 10px;
    border-width: 0;
    text-align: center;
    margin: 13px 0 15px 0;
  }
  .order-search-btn>.ant-select-selector{
    background-color: #63CAD3 !important;
    border-radius: 10px !important;
    border-width: 0 !important;
  }
  .order-search-btn>.ant-select-selector>span{
    padding-right:0 !important;
  }
  .order-search-btn>.ant-select-arrow{
    display: none;
  }
  .order-search-btn>.ant-select-open{

  }
  .order-block{
  
  }
  .order-id{
  
  }
  /* 推薦卡還沒 */
  .recommend-card{
    display: none;
  }
}


.checkout-paymentinfo{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.paymentinfo-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.shipping-form{
  width: 1490px;
  height: 934px;
  background-color: #F0FAFF;
  border-radius: 15px;
  border-width: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 0 79px 0;
}
.shipping-form-top{
  display: flex;
  flex-direction: row;
  margin: 0 0 79px 0;
}
.shipping-form-block{
  width: 621px;
  height: 503px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  border-width: 0;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0px 3px 5px #cecdcd;
  padding: 33px 49px 69px 23.9px;
  margin: 0 84px 0 0;
}
.shipping-form-title{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 0 0 23.7px;
}
.shipping-form-label{
  font-size: 30px;
  color: #4A8091;
  font-weight: bold;
}
.shipping-form-bar{
  width: 210px;
  height: 1px;
  background-color: #4A8091;
  margin: -3px 0 45px 0;
}
.shipping-form-email{
  margin: 0 0 25px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.shipping-form-email>.ant-form-item-label>label{
  color: #4A8091;
  font-size: 25px;
  font-weight: bold;
}
.shipping-form-email>.ant-form-item-label>.ant-form-item-required:not(.ant-form-item-required-mark-optional)::before{
  margin: 0 16.7px 0 0;
}
.shipping-form-email-input{
  width: 420px;
  height: 60px;
  color: #8B9195;
  font-size: 20px;
  font-weight: bold;
  background-color: #F7F7F7;
  border-width: 0;
  border-radius: 10px;
  box-shadow: 0px 3px 5px #cecdcd;
  padding: 21.5px 21px 21.5px 21px;
  margin: 0 0 0 10px;
}
.shipping-form-name{
  margin: 0 0 25px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.shipping-form-name>.ant-form-item-label>label{
  color: #4A8091;
  font-size: 25px;
  font-weight: bold;
}
.shipping-form-name>.ant-form-item-label>.ant-form-item-required:not(.ant-form-item-required-mark-optional)::before{
  margin: 0 16.7px 0 0;
}
.shipping-form-name-input{
  width: 437px;
  height: 60px;
  color: #8B9195;
  font-size: 20px;
  font-weight: bold;
  background-color: #F7F7F7;
  border-width: 0;
  border-radius: 10px;
  box-shadow: 0px 3px 5px #cecdcd;
  padding: 21.5px 21px 21.5px 21px;
  margin: 0 0 0 10px;
}
.shipping-form-address{
  margin: 0 0 25px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.shipping-form-address>.ant-form-item-label>label{
  color: #4A8091;
  font-size: 25px;
  font-weight: bold;
}
.shipping-form-address>.ant-form-item-label>.ant-form-item-required:not(.ant-form-item-required-mark-optional)::before{
  margin: 0 16.7px 0 0;
}
.shipping-form-address-input{
  width: 437px;
  height: 60px;
  color: #8B9195;
  font-size: 20px;
  font-weight: bold;
  background-color: #F7F7F7;
  border-width: 0;
  border-radius: 10px;
  box-shadow: 0px 3px 5px #cecdcd;
  padding: 21.5px 21px 21.5px 21px;
  margin: 0 0 0 10px;
}
.shipping-form-taxid{
  margin: 0 0 0 23.7px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.shipping-form-taxid>.ant-form-item-label>label{
  color: #4A8091;
  font-size: 25px;
  font-weight: bold;
}
.shipping-form-taxid-input{
  width: 437px;
  height: 60px;
  color: #8B9195;
  font-size: 20px;
  font-weight: bold;
  background-color: #F7F7F7;
  border-width: 0;
  border-radius: 10px;
  box-shadow: 0px 3px 5px #cecdcd;
  padding: 21.5px 21px 21.5px 21px;
  margin: 0 0 0 10px;
}
.invoice-form{
  display: flex;
  align-items: flex-start;
  width: 621px;
  height: 503px;
  border-width: 0;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0px 3px 5px #cecdcd;
}
.invoice-form-item{
  display: flex;
  flex-direction: column;
  width: 523;
  height: 307px;
  margin: 33px 0 0 50px;
}
.invoice-form-item>.ant-form-item-label{
  text-align: left;
}
.invoice-form-item>.ant-form-item-label>label{
  color: #4A8091;
  font-size: 30px;
  font-weight: bold;
  margin: 0 0 10px 0;
}
.invoice-form-item>.ant-form-item-label>label::after{
  display: none;
}
.invoice-form-bar{
  width: 120px;
  height: 1px;
  background-color: #4A8091;
}
.invoice-form-option-group{
  display: flex;
  flex-direction: column;
  
}
.invoice-form-option{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 45px 0 0 0 ;
}
.invoice-form-option>.ant-radio>span{
  margin: 0 20px 0 0;
}
.invoice-form-phone-input{
  width: 342px;
  height: 60px;
  color: #8B9195;
  font-size: 20px;
  font-weight: bold;
  background-color: #F7F7F7;
  border-width: 0;
  border-radius: 10px;
  box-shadow: 0px 3px 5px #cecdcd;
  margin:0 0 0 34px;
  padding: 0 0 0 20px;
}
.ant-radio-group>label{
  color: #4A8091;
  font-size: 25px;
  font-weight: bold;
}
.payment-form{
  width: 1326px;
  height: 194px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-width: 0;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0px 3px 5px #cecdcd;
}
.payment-form-item{
  display: flex;
  flex-direction: column;
  text-align: left;
  margin: 0 0 0 40px;
}
.payment-form-item>.ant-form-item-label{
  text-align: left;
} 
.payment-form-item>.ant-form-item-label>label{
  color: #4A8091;
  font-size: 30px;
  font-weight: bold;
  margin: 0 0 6px 0;
}
.payment-form-item>.ant-form-item-label>label::after{
  display: none;
}
.payment-form-bar{
  width: 120px;
  height: 1px;
  background-color: #4A8091;
  margin: 0 0 36px 0;
}
.payment-form-group{
  margin: 0 0 0 25px;
}
.payment-form-option{
  margin: 0 108px 0 0;
}
.payment-form-option>.ant-radio>span{
  margin: 0 25px 0 0;
}
.shipping-form__button{
  width: 398px;
  height: 53px;
  font-size: 25px;
  color: white;
  background-color: #20B3FF;
  border-radius: 10px;
  border-width: 0;
  margin: 0 0 68px 0;
}

.order-search-btn{
  display: none;
}
.order-block{

}
.order-id{

}

.site-form-item-icon{

}


.create-layout{
  margin-top: 45px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.create-form{
  width: 1319px;
  height: 725px;
  padding: 49px 95px 49px 95px;
  background-color: #F2FAFF;
  border-radius: 15px;
  box-shadow: 0px 3px 15px #e4e4e4;
  margin: 0 0 40px 0;
}
.create-form-classname{
  margin: 0 0 40px 0;
}
.create-form-classname_input{
  font-family: 'Taipei Sans TC Beta';
}
.create-form-lecturer{
  margin: 0 0 40px 0;
}
.create-form-lecturer_input{
  font-family: 'Taipei Sans TC Beta';
}
.create-form-phone{
  margin: 0 0 40px 0;
}
.create-form-phone>.ant-input{
  color: #8B9195;
  font-size: 20px;
  font-weight: bold;
  font-family: 'Taipei Sans TC Beta';
  margin: 0 0 0 25px;
}
.create-form-experience{
  margin: 0 0 40px 0;
}
.create-form-experience_input{
  font-family: 'Taipei Sans TC Beta';
  
}
.create-form-principle{
  margin: 0 0 40px 0;
}
.create-form-principle_input{
  font-size: 20px;
  font-family: 'Taipei Sans TC Beta';
  font-weight: bold;
  padding: 20px 0 0 26px;
  border-radius: 10px;
  border-color: white;
  box-shadow: 0px 3px 3px #cecdcd;
  
}
.create-form-principle-label{
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.create-form-principle-label>.ant-form-item-label>label{
  font-size: 19px;
  font-weight: bold;
  color: #4A8091;
  font-family: 'Taipei Sans TC Beta';
  margin: 0 25px 0 0;
}
.create-form-input{
  width:  331px;
  height: 51px;
  font-size: 16px;
  font-weight: bold;
  padding: 0 0 0 20px;
  border-radius: 10px;
  border-color: white;
  box-shadow: 0px 3px 3px #cecdcd;
}
.create-form-label{
  display: flex;
  align-items: center;
  justify-content: center;
}
.create-form-label>.ant-form-item-label>label{
  font-size: 19px;
  font-weight: bold;
  font-family: 'Taipei Sans TC Beta';
  color: #4A8091;
  margin: 0 25px 0 0;
}
.create-form-cover{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 12px 0 0 159.5px;
  width:521px;
  height:265.3px;
}
.create-form-cover-text{
  font-size: 19px;
  font-weight: bold;
  font-family: 'Taipei Sans TC Beta';
  color: #4A8091;
}
.create-form-class-cover-button{
  width: 144px;
  height: 30px;
  color:white;
  font-size: 15px;
  font-family: 'Taipei Sans TC Beta';
  font-weight: bold;
  border-radius: 10px;
  border-width: 0;
  box-shadow: 0px 3px 3px #cecdcd;
  background-color: #65CAD3;
  margin: 0 5px 0 30px;
}
.create-form-class-cover-form{
  width:350px;
  height:213px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  box-shadow: 0px 3px 3px #cecdcd;
  margin: 22.3px 0 0 30px;
}
.create-form-class-cover-text{
  color:#8B9195;
  font-size: 14.2px;
  font-weight: bold;
}
.create-form-class-cover-form-bar{
  width:264px;
  height:1px;
  background-color: #8b8b8b;
}
.create-form__button{
  width: 331px;
  height: 45px;
  border-radius: 10px;
  font-size: 20px;
  font-weight: bold;
  background-color: #20B3FF;
  margin: 0 0 65px 0; 
}

.order-detail{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.order-detail-form{
  width: 1490px;
  height: 840px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #F0FAFF;
  box-shadow: 0px 3px 3px #cecdcd;
  border-radius: 15px;
  border-width: 0;
  margin: 40px 0 40px 0;
}
.order-detail-back-btn{
  width: 398px;
  height: 53px;
  background-color: #20B3FF;
  border-radius: 10px;
  border-width: 0;
  color: white;
  font-size: 20px;
  font-weight: bold;
}
.detail-item-text{
  color: #4A8091;
  font-size: 25px;
  font-weight: bold;
}
.detail-item-title{
  color: #4A8091;
  font-size: 30px;
  font-weight: bold;
}
.detail-item-title-bar{
   width: 120px;
   height: 1px;
   background-color: #BABABA;
}
.detail-box1{
  margin: 55px 0 0 0;
}
.drow{
  display: flex;
  flex-direction: row;
  align-items: center;
  
}
.invoice-detail-item-value{
  color: #484848;
  font-size: 20px;
  font-weight: bold;
}
.payment-detail-item-value{
  color: #484848;
  font-size: 25px;
  font-weight: bold;
}
.order-item-name{
  width: 346px;
  color: #484848;
  font-size: 25px;
  font-weight: bold;
}
.order-item-price{
  color: #484848;
  font-size: 25px;
  font-weight: bold;
  margin: 0 0 0 84px;
}
.total-bar{
  width: 532px;
  height: 1px;
  background-color: #BABABA;
  margin:40px 0 20px 0;
}
.total-detail{
  margin: 0 0 44px 0;
}
.order-item-detail-box{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  margin:41px 0 0 0;
}
.order-id-box{
  display: flex;
  align-items: center;
  justify-content: center;
  width:479px;
  height:45px;
  font-size: 20px;
  color: white;
  background-color: #64CAD3;
  border-radius: 5px;
  border-width: 0;
  margin: 0 0 44px 37px;
}
.order-googlepay{
  margin: 0 0 0 154px;
}
.order-product-detail{
  box-shadow: 0px 3px 3px #cecdcd;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 633px;
  height: 759px;
  background-color: white;
  border-radius: 10px;
  border-width: 0;
  margin: 0 0 0 75px;
  padding: 30px 0 0 40px;
}
.buy-detail{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 0 0 0 50px;
  width: 621px;
  height: 395px;
  background-color: white;
  border-radius: 10px;
  border-width: 0;
  box-shadow: 0px 3px 3px #cecdcd;
}
.invoice-detail{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 0 0 0 50px;
  width: 621px;
  height: 309px;
  background-color: white;
  border-radius: 10px;
  border-width: 0;
  margin: 40px 0 0 0;
  box-shadow: 0px 3px 3px #cecdcd;
}
.textleft{
  text-align: left;
}


.create-not-login{
  font-size: 30px;
  color: #4A8091;
  font-weight: bold;
  height:800px;
  margin-top: 120px;
}


.footer{
  width:100%;
  display: flex;
  font-size: 20px;
  justify-content: space-between;
}
.footer-info-left{
  width:100%; 
  display: flex;
  flex-direction: row;
  align-items: center;
}
.footer-info-left-item{
  margin: 0 54px 0 0;
}
.footer-info-right{
  display: flex;
  width:100%;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}
.footer-info-right-item{
  margin: 0 24px 0 0;
}
.footer-social-btn{
  margin: 0 0 0 30px;
}
@media (max-width:540px){
  .footer{
    width:100%;
    display: flex;
    font-size: 20px;
    align-content: center;
  }
  .footer-info-left{
    width:100%;
  }
  .footer-info-left-item{
    width:50px;
    height:8px;
    font-size: 5px; 
    -webkit-transform:scale(0.42);
    margin: 0 0 3px 0;
  }
  .footer-info-right{
    width:90px;
    
  }
  .footer-info-right-item{
    width:50px;
    height:8px;
    font-size: 5px;
    -webkit-transform:scale(0.42);
    margin: 0 -10px 3px 0;
  }
  .footer-social-btn{
    width:10px;
    margin: 0 0 0 10px;
  }
}




.bg-main{
  background-color: #4A8091;
}
.bg-container{
  background-color: #F9FEFF;
}
.bg-second{
  background-color: #F1FAFF;
}
.bg-card{
  background-color: #F9FDFF;
}
.bg-light-red{
  background-color: #FF7B7B;
}
.bg-white{
  background-color: white;
}
.text-color-main{
  color: #4A8091;
  font-weight: bold;
}
.text-white{
  color:white;
}